*{
    text-align: center;

}

.top{
    background-color: black ;
    width: 1200px;
    height: 50px;
    text-align:left;
    color: white;
    font-size:xx-large;
    margin: 5px ;
    
}

.middle{
    text-align: center;
    background-color: rgb(192, 12, 192);
    color: white;
    width: 1200px;
    height: 50px;
    font-size: xx-large;
    margin: 5px;
    

}

.bottom{
text-align: right;
text-underline-offset: grey;
width: 1200px;
height:50px ;
background-color:slateblue;
font-size: xx-large;
margin: 5px;
text-decoration: underline;
}
