@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="text-center">
    <form asp-action="Create" asp-controller="Home" method="post">
        <div class="form-goup">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-goup">
            <label asp-for="Email"></label>
            <input class="form-control" asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-goup">
            <label asp-for="PhoneNumber"> </label>
            <input class="form-control" asp-for="PhoneNumber">
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="form-goup">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <button style="margin-top:25px ;" class="btn btn-primary w-50">Submit</button>
    </form>
</div>
