*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


div{
    padding: 0 auto;
    position: relative;
    margin: 70px 300px 80px 200px;
    border: solid;
    border-color: black;
    height: 90px;
    width: 400px;

}

p{
    position: relative;
    padding-left: 200px;
    bottom: 6px;

}

button{
    position: relative;
    bottom: 33px;
    background-color:#FFD966;
    padding: 7px 20px;
    margin-left: 280px;
    margin-bottom: 70px;
}    

h2{
    position: relative;
    top: 10px;
    left: 6px;
}