*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

nav{
    background-color: black;
    
}

main{
    margin: 0 auto;
    display: flex;
}

h1{
    color: white;
}