.nav-title{
    display: flex;
    color: white;
}

.nav{
    overflow: hidden;
    background-color: #333333;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
   
}


.nav-links{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;

}