/*  Reset */
*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
    margin: auto;
}

nav{
    background-color: #CCCCCC;
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;

}

nav input{
    width: 300px;
    height: 20px;
    border: 2px solid black;
}

nav button{
    background-color: #2B78E4;
    color: white;
    box-shadow: 2px 2px 2px black;
    padding: 4px 15px;
}

h1{
    color: black;
    font-size: xx-large;
}

.leftcolumn{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-left: 335px;

}

.upperbox{
    border:2px solid black;
    height: 195px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.leftside{
    padding: 15px 20px;
}

.button{
    background-color:#FFD966 ;
    color: black;
    box-shadow: 2px 2px 2px;
    border: 2px solid black;
    padding: 6px 9px ;

}

.rightside{
    display: flex; 
    justify-content: center;
}

span{
    text-decoration: underline;
    color: #3471A6;
}

.lowerbox{
    border:2px solid black;
    width: 400px;
    height: 195px;
    margin-bottom: 5px;
    margin-top: 15px;
    padding-left: 14px;

}

.leftbox{
    width: 220px;
    height: 130px;
    border: 2px solid black;
    margin-top: 20px;
}

.leftbox span{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.leftbox button{
    font-weight: bold;
    background-color: #93C47D;
    padding: 12px 43px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px;
    margin: 10px 15px;
}

.leftbox p{
    padding: 8px 4px;
}

.rightcolumn{
    display: flex;
    position: relative;
    right: 335px;
}

.par{
    display: flex;
}